

.text {
  font-size: 70px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-weight: 500;

  color: rgb(238, 152, 91);

  font-style: italic;

  text-decoration: none;
  
  text-align: center;

  text-transform: capitalize;

  list-style: none;
}