.box {
    height: 250px;
    width: 255px;
    border: 2px solid black;

    margin: 50px auto 0;

    text-align: center;

   
    transition: 
        background-color 1s,
        border-radius 1s cubic-bezier(0.85, 0.47, 0, 0.42),
        transform 1s;
}

.box:hover {
    background-color: brown;
    border-radius: 70%;
    transform: scale(1.05);
}