* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.external {
  color: rgba(16, 27, 88, 0.61);
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}



.common {
  color: rgb(0, 255, 64);
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}