*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 700px;
    width: 700px;
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: rgb(83, 133, 224);
    transition: 1s,ease-in-out;
    animation-name: around;
    animation-duration: 1s ;
    animation-delay: 1s;
    animation-iteration-count: 5;

}

@keyframes around{
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(300px,0);
    }
    50%{
        transform: translate(300px,300px);
    }
    75%{
        transform: translate(0,300px);
    }
    
}

.circle{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes circle{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.btn{
    height: 50px;
    width: 100px;
    margin-left: 500px;
    background-color: rgb(67, 139, 0);
    border-radius: 5px;
    border: none;
    color: white;
    animation-name: btn1;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}


@keyframes btn1{
    from{
        transform: scale(1);
        
    }
    to{
        transform: scale(1.1);
        box-shadow:rgba(30, 30, 54, 0.25) 0px 30px 60px -12px inset, rgba(49, 49, 49, 0.3) 0px 18px 36px -18px inset;
    }
}
.container1{
    height: 600px;
    width: 600px;
    margin: auto;
    border: 2px solid black;
    margin-top: 250px;
    margin-bottom: 100px;
    border-radius: 50%;
    animation-name: container;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: rgb(238, 157, 6);
}
@keyframes container{

from{
    transform: rotate(0);
}
to{
    transform: rotate(360deg);
}
}
.box2{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 70%;
    background-color: blue;
}